.graph-wrapper {
    position: relative;
}

.graph-canvas {
    position: absolute;
    overflow: hidden;
    z-index: 0;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.graph-canvas:active {
    cursor: grab;
}